.Smurfs {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
.Smurfs h1 {
  color: #3c68ae;
  margin: 0 auto;
}

.Smurf {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 700px;
  margin-bottom: 2rem;
}

.Smurf .form-btn {
  margin: 1rem;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.smurf-img {
  height: 125px;
  width: 125px;
  margin-right: 2rem;
}

.Smurf h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.Smurf p {
  margin-top: 0.5rem;
}

.SmurfForm {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.smurf-form-input {
  margin: 1rem 0;
  height: 50px;
  line-height: 20px;
}

input {
  width: 100%;
  padding: 2rem;
  font-size: 2rem;
  box-sizing: border-box;
  border: none;
  background-color: #62cdfd;
  font-weight: bold;
  color: white;
}

input::placeholder {
  color: rgb(255, 255, 255, 0.5);
}

.form-btn {
  line-height: 1.5rem;
  background: #3c68ae;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.card-link {
  text-decoration: none;
}
